/*global page width*/
/*nivas template has standard 960px grid max size*/
.container{
	width: 960px;
}

/*fix menu typography*/
.nav>li>a{
	font-size: 22px;
	font-family: 'Arial';
	font-weight: 600;
	color: #333;
}
/*LOGO FIX*/
.nav>li:first-child a{
	padding-left: 0px;
	margin-right: 20px;
}
/*all other menu items*/
.nav>li:not(:first-child){
	padding: 18px 16px 0 0;
}

.jumbotron.first{
	margin-bottom: 0px;
}
.jumbotron.gray{
	color: white;
	background: #333; 
}